{% extends "layout.html" %}
{% block body %}
<div class="container main-page">
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-3">After an Overdose</h1>
            <hr class="my-4">
            <div class="alert alert-danger" role="alert">
                <strong>Emergency:</strong> Call <strong>911</strong> and then text (424) 297-5085 for immediate instructions on dealing with an overdose.
            </div>
            <p class="lead">Dealing with an overdose can be hard and traumatizing, but we&#39;re here to help.</p>
            <p>The first step to dealing with an overdose is to understand that it is not your fault and the fact that you feel responsible is common.</p>
            <!-- need to add advice, steps, and resources -->
            <p>Opiate addictions are a growing issue in the United States. Many people are susceptible to getting addicted when using the drug. In 2014 over 14,000 died. Opioid overdoses occur not from just small regular prescription, but from using multiple substances or taking too much of what should be their prescribed dose.</p>
            <p>Opiates are commonly referred as Vicodin, OxyContin, or morphine. It can cause death and even brain damage. Many people get “normalized” by the drug, unable to function with the regular use of it. Vicodin also has tendencies for an acetaminophen overdose, which can lead to liver failure and or a damaged liver.</p>
            <p>If you are with someone who has an opioid overdose, one should lie him on his side to prevent the person from choking on their own spit. Try to help the person remain consciousness by conversing. If one has an overdose, he or she should be very CLOSELY monitored so that they do not get hurt.</p>
            <p>If you or a loved one is under the risk of an opioid overdose, it may be handy to carry around Naloxone, which helps essentially stop an overdose for a bit of time. When administered you should call 911.</p>
            <div class="card-group">
              <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/MGH-final.jpg') }}" alt="Mass Gen Hospital" width=100%>
                <div class="card-block">
                  <h4 class="card-title">Massachusetts General Hospital (MGH)</h4>
                  <p class="card-text">The Massachusetts General Hospital Physical Medicine and Rehabilitation Service improves quality of care by bringing additional knowledge and expertise to the management of patients with disabilities and pain syndromes.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Updated on 04/30/2017</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/bmc.png') }}" alt="BMC Hospital Picture" width=100%>
                <div class="card-block">
                  <h4 class="card-title">Boston Medical Center (BMC)</h4>
                  <p class="card-text">Faster Paths to Treatment, is BMC’s substance use disorder urgent care center. It is a judgment-free home for people suffering with addiction. Staff members help individuals overcome their addiction by rapidly evaluating, motivating, and referring patients with substance use disorders to a network of care including inpatient and outpatient detox, treatment, and aftercare services.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Updated on 04/30/2017</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/moar.webp') }}" alt="MOAR Recovery Center" width=100%>
                <div class="card-block">
                  <h4 class="card-title">Massachusetts Organization for Addiction Recovery (MOAR)</h4>
                  <p class="card-text">To organize recovering individuals, families, and friends into a collective voice to educate the public about the value of recovery from alcohol and other addictions.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Updated on 04/30/2017</small>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <div class="contact-info">
                <address>
                    <strong>StepsAfter Organization</strong><br>
                    33 Harry Agganis Way<br>
                    Boston, MA 02215<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>

                <address>
                    <strong>Contact Email</strong><br>
                    <a href="mailto:#">hello@stepsafter.org</a>
                </address>
            </div>
        </div>
    </div>
</div>
{% endblock %}
