{% extends "layout.html" %}
{% block body %}
<div class="container main-page">
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-3">After an Overdose</h1>
            <hr class="my-4">
            <div class="alert alert-danger" role="alert">
                <strong>Emergency:</strong> Call <strong>911</strong> and then text (424) 297-5085 for immediate instructions on dealing with an overdose.
            </div>
            <p class="lead">Dealing with an overdose can be hard and traumatizing, but we&#39;re here to help.</p>
            <p>The first step to dealing with an overdose is to understand that it is not your fault and the fact that you feel responsible is common.</p>
            <!-- need to add advice, steps, and resources -->
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <div class="contact-info">
                <address>
                    <strong>StepsAfter Organization</strong><br>
                    33 Harry Agganis Way<br>
                    Boston, MA 02215<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>

                <address>
                    <strong>Contact Email</strong><br>
                    <a href="mailto:#">hello@stepsafter.org</a>
                </address>
            </div>
        </div>
    </div>
</div>
{% endblock %}
