{% extends "layout.html" %}
{% block body %}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .container {
        height: 70%;
    }
    #map {
      height: 100%;
      margin-bottom: 30px;
    }
</style>
<div class="container main-page" onload="initMap()">
    <h3>Locations near me</h3>
    <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        var places = [{lat: 42.350259, lng: -71.105717}, {lat: 42.351486, lng: -71.114567}, {lat: 42.351478, lng: -71.113873}, {lat: 42.352513, lng: -71.119763}, {lat: 42.349705, lng: -71.099955}];
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 15
        });
        infoWindow = new google.maps.InfoWindow;

        for (var step = 0; step < places.length; step++) {
            var marker = new google.maps.Marker({
                position: places[step],
                map: map,
                title: "Health Services Location"
            });
        }

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcnTrAIpuLdMoEPmi1OBw7PZoQbFxT4hQ&callback=initMap">
    </script>
</div>
{% endblock %}
